---
---

html
  background: #eee url(noise-texture.png) fixed
  margin: 0
  padding: 0
  height: 100%

body
  max-width: 45em
  min-height: calc(100% - 2em)
  margin: 0 auto
  padding: .75em 2em
  font: 125% / 1.8 'Noto Serif', 'Sitka Text', 'Georgia', serif
  color: #666
  background: #eee

code
  font-family: 'Roboto Mono', 'Noto Sans Mono', 'Consolas', monospace
  color: #d05

a
  color: #246
  &:visited
    color: #604

img, picture
  max-width: 100%
  height: auto

@media (prefers-color-scheme: dark)
  html, body
    background-color: #130811
    color: #ccc

  a
    color: #8cf
    &:visited
      color: #f8c

@media (max-width: 36rem)
  html
    background-image: none

  body
    min-height: calc(100% - 1em)
    padding: .25em .5em
